@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<img src="~/img/bz-panel-09-27-12.jpg" />
<img src="~/img/6910bc10409eb4434bf8ce97c1326602.jpg" />